@{
    ViewBag.Title = "Demo application";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>

    <p>ASP.NET MVC minimal app with currency conversion rates API.</p>
</main>