<main aria-labelledby="title">
  <h1 id="title">Ruslan Yakauleu</h1>

  <h2>Full-Stack .NET/C# Developer</h2>
  <address class="container">
    <p class="row"><label class="col-1">Address:</label><span class="col">Minsk, Belarus</span></p>
    <p class="row"><label class="col-1">Phone: </label><a href="tel:+375(29)265-72-48" class="col">+375(29)265-72-48</a></p>
    <p class="row"><label class="col-1">Mail: </label><a href="mailto:ruslan.yakauleu@gmail.com" class="col">ruslan.yakauleu@gmail.com</a></p>
    <p class="row"><label class="col-1">Profile: </label><a href="https://www.linkedin.com/in/ruslan-yakauleu/" class="col">LinkedIn</a></p>
  </address>
</main>